.container{
    width: 1110px;
    min-height: 168px;
    padding: 52px 64px 0px 64px;
    background-image: url('./images/bg-shorten-desktop.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #3A3054;
    border-radius: 10px;
    position: absolute;
    top: 720px;
    left: 0;
    right: 0;
    z-index: 30;
    margin: auto;
    display: grid;
    grid-template-columns: 769px 188px;
    grid-template-rows: 64px 18px;
    column-gap: 24px;
    row-gap: 8px;
    justify-content: space-between;
    align-items: center;
}

.inputContainer{
    position: relative;
    width: 769px;
}

.input{
    width: 100%;
    height: 64px;
    background-color: white;
    border-radius: 10px;
    font-family: var(--font);
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.15px;
    padding-left: 32px;
    transition: none;
    border: 3px solid transparent;
}

.input:focus{
    outline: none;
    border: 3px solid black;
}

.input::placeholder{
    color: rgba(52, 49, 61, 0.5);
}

.errorMessage{
    display: none;
    font-family: var(--font);
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.11px;
    color: #F46363;
    font-style: italic;
}

.submitButton{
    width: 188px;
    height: 64px;
    background-color: #2BD0D0;
    border-radius: 10px;
    font-family: var(--font);
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: white;
    cursor: pointer;
}

.submitButton:hover{
    background-color: #9AE3E3;
}

.shortenUrls{
    width: 100%;
    position: absolute;
    top: 192px;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.urlContainer{
    min-height: 72px;
    background-color: #FFFFFF;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 32px;
    overflow: hidden;
}

.longUrl{
    width: 320px;
    word-wrap: break-word;
    font-family: var(--font);
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.15px;
    color: #34313D;
}

.shortUrl_copyButton{
    display: flex;
    align-items: center;
    gap: 24px;
}

.shortUrl{
    width: 290px;
    word-wrap: break-word;
    font-family: var(--font);
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.15px;
    font-weight: 500;
    color: #2BD0D0;
}

.copyButton{
    width: 103px;
    height: 40px;
    border-radius: 5px;
    background-color: #2BD0D0;
    color: white;
    font-family: var(--font);
    font-size: 15px;
    line-height: 22.5px;
    font-weight: 700;
    cursor: pointer;
}

.copyButton:hover{
    background-color: #9AE3E3;
}

.line{
    width: 110%;
    height: 1px;
    background-color: #9E9AA8;
}

@media(max-width: 1200px){
    .container{
        top: 630px;
        width: 90%;
        grid-template-columns: 1fr 188px;
    }
}

@media(max-width: 800px) {
    .container{
        padding: 24px;
        padding: 52px 24px 0px 24px;
    }
}

@media(max-width: 620px) {
    .container{
        background-image: url('./images/bg-shorten-mobile.svg');
        background-position:  0px -100px;
        grid-template-columns: 100%;
        grid-template-rows: initial;
        flex-direction: column;
        padding-top: 24px;
        padding-bottom: 24px;
        gap: 16px;
        top: 770px;
    }

    .submitButton, 
    .input{
        height: 48px;
        width: 100%;
    }

    .input{
        font-size: 16px;
        line-height: 36px;
        letter-spacing: 0.12px;
        padding-left: 16px;
    }

    .submitButton{
        font-size: 18px;
        line-height: 27px;
    }

    .errorMessage{
        grid-row: 2/3;
    }
}

@media(max-width: 494px){
    .container{
        top: 800px
    }
}